body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right,rgb(187, 247, 247),rgb(250, 193, 250))
}
.container{
    background-color: aliceblue;
    height:500px;
    width:500px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width:250px;
    height:40px;
    border-radius: 50px;
    margin:10px;
    border:1px solid rgb(168, 164, 164);
}
.btn{
    background-color: rgb(250, 194, 250);
    border:0;
}
img{
    height:150px;
}
.temp{
    font-size: 26px;
}
